
root{
    --main-radius: 5px;
    --main-padding:5px;
}





.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.2fr .8fr;
    grid-template-areas: 
    'nav nav nav nav'
    'sidebar main main main '
    'sidebar content1 content2 content3'
    'sidebar footer footer footer';
    grid-gap: .4rem;
}
nav{
    background-color: pink;
    grid-area: nav;

}
main{
    background-color: green;
    grid-area: main;
}
.sidebar{
    background-color: #C51605;
    grid-area: sidebar;
}
.content1{
    background-color: #FFE17B;
    grid-area: content1;

}
.content2{
    background-color: #FD8D14;
    grid-area: content2;
}
.content3{
    background-color: #a09b95;
    grid-area: content3;
    
}
footer{
    background-color: #CECE5A;
    grid-area: footer
    



}
@media only screen and (max-width:550px
){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: .4fr .4fr 2.2fr 1.2fr 1.2fr 1fr ;
        grid-template-areas: 
        'nav''main''sidebar''content1''content2''content3''footer';
    }
}


